@tailwind base;
@tailwind components;
@tailwind utilities;
/* src/index.css */

/* src/index.css or src/App.css */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #ad3b3b;
  background-color: #a30f0f;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
}


